<footer class="footer">
	<div class="footer_body">
		<div class="container">
			<div class="footer_content">
				<a class="footer_logo" href="#">
					<img src="./img/logo-white.svg" alt="">
				</a>
				<nav>
					<ul class="footer_nav list-reset">
						<li>
							<a href="#">Archive</a>
						</li>
						<li>
							<a href="#">Research</a>
						</li>
						<li>
							<a href="#">About Us</a>
						</li>
						<li>
							<a href="#">Contribute</a>
						</li>
					</ul>
				</nav>
				<div class="socials">
					<a class="socials_link" href="#" target="_blank">
						<svg>
							<use xlink:href="./img/icons/sprite.svg#facebook"></use>
						</svg>
					</a>
					<a class="socials_link" href="#" target="_blank">
						<svg>
							<use xlink:href="./img/icons/sprite.svg#instagram"></use>
						</svg>
					</a>
					<a class="socials_link" href="#" target="_blank">
						<svg>
							<use xlink:href="./img/icons/sprite.svg#linkedIn"></use>
						</svg>
					</a>
					<a class="socials_link" href="#" target="_blank">
						<svg>
							<use xlink:href="./img/icons/sprite.svg#x"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer_copy">
		<div class="container">
			<p>© 2024 - Flint Water. All rights reserved</p>
		</div>
	</div>
</footer>