---
title: Tools Page - Email Search
---
{% include 'src/template/head.html' %}

<body>
	<div class="wrapper">
		{% include 'src/template/header.html' %}
		<main class="main">
			<section class="hero _pb-lg">
				<div class="hero_content" data-aos="fade-up">
					<div class="container">
						<div class="box text-center">
							<div class="box_label">email search</div>
							<h1 class="h2">Flint Water email search</h1>
							<div class="box_text">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								</p>
							</div>
							<a class="arrow-link" href="#">
								<span>Learn more about Process Documentation</span>
								<svg class="arrow-link_arrow">
									<use xlink:href="./img/icons/sprite.svg#arrow-right"></use>
								</svg>
							</a>
						</div>
					</div>
				</div>
				<div class="hero_bg">
					<img class="hero_img" src="./img/section-bg.png" alt="">
					<img class="hero_texture" src="./img/texture.png" alt="">
				</div>
			</section>
			<section class="section _p-0 _overlap-top">
				<div class="container">
					<div class="form" data-aos="fade-up">
						<form>
							<div class="form_cols">
								<div class="form_col _half">
									<div>
										<label for="input-1">Search Email</label>
										<input id="input-1" type="text" placeholder="Lorem Ipsum dolore sit amet">
									</div>
									<div class="form_row range-datepicker">
										<div>
											<label for="date-from">Range of date</label>
											<div class="form_icon _calendar">
												<input id="date-from" type="text" placeholder="07/27/1996">
											</div>
										</div>
										<div>
											<label for="date-to" class="form_label-hidden">Range of date</label>
											<div class="form_icon _calendar">
												<input id="date-to" type="text" placeholder="07/27/1996">
											</div>
										</div>
									</div>
								</div>
								<div class="form_col _half">
									<div>
										<label for="input-4">Subject</label>
										<input id="input-4" type="text" placeholder="Subject">
									</div>
									<div class="form_row">
										<div>
											<label for="input-5">From</label>
											<input id="input-5" type="text" placeholder="Enter Email Here">
										</div>
										<div>
											<label for="input-6">To</label>
											<input id="input-6" type="text" placeholder="Enter Email Here">
										</div>
									</div>
								</div>
								<div class="form_col">
									<div>
										<label for="textarea-1">Has the words</label>
										<textarea id="textarea-1" placeholder="Lorem Ipsum dolore sit amet"></textarea>
									</div>
								</div>
								<div class="form_col">
									<div>
										<button class="button" type="submit">Submit</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</section>
			<section class="section _pt-60">
				<div class="container">
					<div class="posts-text-grid">
						<div>
							<article class="post-text">
								<div class="box">
									<date class="box_label" datetime="2016-03-24">March 24, 2016</date>
									<h2 class="mb-20">
										<a href="#">Lorem ipsum dolore sit 2024 Email Archive</a>
									</h2>
									<div class="box_text">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
											labore
											et dolore magna aliqua.
										</p>
									</div>
								</div>
							</article>
						</div>
						<div>
							<article class="post-text">
								<div class="box">
									<date class="box_label" datetime="2016-03-24">March 24, 2016</date>
									<h2 class="mb-20">
										<a href="#">Lorem ipsum dolore sit 2024 Email Archive</a>
									</h2>
									<div class="box_text">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
											labore
											et dolore magna aliqua.
										</p>
									</div>
								</div>
							</article>
						</div>
						<div>
							<article class="post-text">
								<div class="box">
									<date class="box_label" datetime="2016-03-24">March 24, 2016</date>
									<h2 class="mb-20">
										<a href="#">Lorem ipsum dolore sit 2024 Email Archive</a>
									</h2>
									<div class="box_text">
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
											labore
											et dolore magna aliqua.
										</p>
									</div>
								</div>
							</article>
						</div>
					</div>
					<nav class="pagination _center">
						<span class="pagination_label">
							Pages
						</span>
						<ul class="pagination_list list-reset">
							<li class="pagination_item">
								<a class="pagination_link" href="#">Prev</a>
							</li>
							<li class="pagination_item">
								<a class="pagination_link _active" href="#">1</a>
							</li>
							<li class="pagination_item">
								<a class="pagination_link" href="#">2</a>
							</li>
							<li class="pagination_item">
								<a class="pagination_link" href="#">3</a>
							</li>
							<li class="pagination_item">
								<a class="pagination_link" href="#">4</a>
							</li>
							<li class="pagination_item">
								<a class="pagination_link" href="#">5</a>
							</li>
							<li class="pagination_item">
								<a class="pagination_link" href="#">6</a>
							</li>
							<li class="pagination_item">
								<a class="pagination_link" href="#">Next</a>
							</li>
						</ul>
					</nav>
				</div>
			</section>
		</main>
		{% include 'src/template/footer.html' %}
	</div>
	{% include 'src/template/includes.html' %}
</body>

</html>