---
title: Document Archive Page
---
{% include 'src/template/head.html' %}

<body>
	<div class="wrapper">
		{% include 'src/template/header.html' %}
		<main class="main">
			<section class="hero">
				<div class="hero_content" data-aos="fade-up">
					<div class="container">
						<div class="box text-center">
							<div class="box_label">Document Archive</div>
							<h1 class="h2">Flint Water Document Archive</h1>
							<div class="box_text">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="hero_bg">
					<img class="hero_img" src="./img/section-bg.png" alt="">
					<img class="hero_texture" src="./img/texture.png" alt="">
				</div>
			</section>
			<section class="section">
				<div class="section_head" data-aos="fade-up">
					<div class="container _width-830">
						<div class="box text-center">
							<div class="box_label">Document Archive</div>
							<h2>
								Lorem ipsum dolore sit amet
							</h2>
							<div class="box_text">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
									dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
									aeiusmod
									tempor incididunt
								</p>
							</div>
							<div class="box_search">
								<div class="search-form">
									<form>
										<div class="search-form_box">
											<input type="text" placeholder="Search Email Chart">
											<button class="button">Search</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="pdf-viewer">
					<div class="container">
						<div class="pdf-viewer_container">
							<div class="pdf-viewer_col" data-aos="fade-up">
								<div class="pdf-viewer_box">
									<article data-type="pdf" data-src="https://fancyapps.com/sample.pdf" class="text-card">
										<div class="text-card_box">
											<h2>Lorem ipsum dolore sit amet</h2>
											<span class="icon-arrow-box _dark">
												<svg>
													<use xlink:href="./img/icons/sprite.svg#arrow-right-long"></use>
												</svg>
											</span>
										</div>
										<div class="text-card_text">
											<p>
												Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut l
											</p>
										</div>
									</article>
									<article data-type="pdf" data-src="https://www.clickdimensions.com/links/TestPDFfile.pdf"
										class="text-card">
										<div class="text-card_box">
											<h2>Lorem ipsum dolore sit amet</h2>
											<span class="icon-arrow-box _dark">
												<svg>
													<use xlink:href="./img/icons/sprite.svg#arrow-right-long"></use>
												</svg>
											</span>
										</div>
										<div class="text-card_text">
											<p>
												Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut l
											</p>
										</div>
									</article>
									<article data-type="pdf" data-src="https://fancyapps.com/sample.pdf" class="text-card">
										<div class="text-card_box">
											<h2>Lorem ipsum dolore sit amet</h2>
											<span class="icon-arrow-box _dark">
												<svg>
													<use xlink:href="./img/icons/sprite.svg#arrow-right-long"></use>
												</svg>
											</span>
										</div>
										<div class="text-card_text">
											<p>
												Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut l
											</p>
										</div>
									</article>
									<article data-type="pdf" data-src="https://www.clickdimensions.com/links/TestPDFfile.pdf"
										class="text-card">
										<div class="text-card_box">
											<h2>Lorem ipsum dolore sit amet</h2>
											<span class="icon-arrow-box _dark">
												<svg>
													<use xlink:href="./img/icons/sprite.svg#arrow-right-long"></use>
												</svg>
											</span>
										</div>
										<div class="text-card_text">
											<p>
												Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut l
											</p>
										</div>
									</article>
									<article data-type="pdf" data-src="https://fancyapps.com/sample.pdf" class="text-card">
										<div class="text-card_box">
											<h2>Lorem ipsum dolore sit amet</h2>
											<span class="icon-arrow-box _dark">
												<svg>
													<use xlink:href="./img/icons/sprite.svg#arrow-right-long"></use>
												</svg>
											</span>
										</div>
										<div class="text-card_text">
											<p>
												Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut l
											</p>
										</div>
									</article>
									<article data-type="pdf" data-src="https://www.clickdimensions.com/links/TestPDFfile.pdf"
										class="text-card">
										<div class="text-card_box">
											<h2>Lorem ipsum dolore sit amet</h2>
											<span class="icon-arrow-box _dark">
												<svg>
													<use xlink:href="./img/icons/sprite.svg#arrow-right-long"></use>
												</svg>
											</span>
										</div>
										<div class="text-card_text">
											<p>
												Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut l
											</p>
										</div>
									</article>
								</div>
								<nav class="pagination">
									<span class="pagination_label">
										Pages
									</span>
									<ul class="pagination_list list-reset">
										<li class="pagination_item">
											<a class="pagination_link" href="#">Prev</a>
										</li>
										<li class="pagination_item">
											<a class="pagination_link _active" href="#">1</a>
										</li>
										<li class="pagination_item">
											<a class="pagination_link" href="#">2</a>
										</li>
										<li class="pagination_item">
											<a class="pagination_link" href="#">3</a>
										</li>
										<li class="pagination_item">
											<a class="pagination_link" href="#">4</a>
										</li>
										<li class="pagination_item">
											<a class="pagination_link" href="#">5</a>
										</li>
										<li class="pagination_item">
											<a class="pagination_link" href="#">6</a>
										</li>
										<li class="pagination_item">
											<a class="pagination_link" href="#">Next</a>
										</li>
									</ul>
								</nav>
							</div>
							<div class="pdf-viewer_col" data-aos="fade-up">
								<div class="pdf-viewer_holder">
									<div class="pdf-viewer_bar">
										<div>
											<a href="#" class="pdf-viewer_link" target="_blank">Open in new tab</a>
										</div>
										<div>
											<h2 class="pdf-viewer_title">Lorem ipsum dolore sit amet</h2>
										</div>
									</div>
									<div class="pdf-viewer_iframe-wrap">
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		{% include 'src/template/footer.html' %}
	</div>
	{% include 'src/template/includes.html' %}
</body>

</html>