---
title: Exhibits Page
---
{% include 'src/template/head.html' %}

<body>
	<div class="wrapper">
		{% include 'src/template/header.html' %}
		<main class="main">
			<section class="hero">
				<div class="hero_content" data-aos="fade-up">
					<div class="container">
						<div class="box text-center">
							<div class="box_label">Exhibits</div>
							<h1 class="h2">Flint Water Exhibits</h1>
							<div class="box_text">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="hero_bg">
					<img class="hero_img" src="./img/section-bg.png" alt="">
					<img class="hero_texture" src="./img/texture.png" alt="">
				</div>
			</section>
			<section class="section">
				<div class="section_head" data-aos="fade-up">
					<div class="container _width-830">
						<div class="box text-center">
							<h2>
								Flint Water Crisis Timeline
							</h2>
						</div>
					</div>
				</div>
				<div class="container _width-1115">
					<div class="calendar-timeline-wrapper" data-aos="fade-up">
						<div class="calendar-timeline-overlay"></div>
						<div class="calendar-timeline">
							<div class="calendar-timeline_item _tick">
								<div class="calendar-timeline_bar"></div>
								<div class="calendar-timeline_label">Aug</div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item _tick">
								<div class="calendar-timeline_bar"></div>
								<div class="calendar-timeline_label">Sep</div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item _tick">
								<div class="calendar-timeline_bar"></div>
								<div class="calendar-timeline_label">Oct</div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item _tick">
								<div class="calendar-timeline_bar"></div>
								<div class="calendar-timeline_label">Nov</div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item _info">
								<div class="calendar-timeline_bar"></div>
								<div class="calendar-timeline_date">
									Nov 17th, 2023
								</div>
								<div class="calendar-timeline_info">
									<ul class="calendar-timeline_list list-reset">
										<li>Lorem ipsum dolore sit amet</li>
										<li>Lorem ipsum <br> dolore sit amet</li>
									</ul>
								</div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item _tick">
								<div class="calendar-timeline_bar"></div>
								<div class="calendar-timeline_label">Dec</div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item _tick">
								<div class="calendar-timeline_bar"></div>
								<div class="calendar-timeline_label">Jan</div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item _info _active">
								<div class="calendar-timeline_bar"></div>
								<div class="calendar-timeline_date">
									Jan 17th, 2023
								</div>
								<div class="calendar-timeline_info">
									<ul class="calendar-timeline_list list-reset">
										<li>Lorem ipsum dolore sit amet</li>
										<li>Lorem ipsum <br> dolore sit amet</li>
									</ul>
								</div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item _tick">
								<div class="calendar-timeline_bar"></div>
								<div class="calendar-timeline_label">Feb</div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item _tick">
								<div class="calendar-timeline_bar"></div>
								<div class="calendar-timeline_label">May</div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item _info">
								<div class="calendar-timeline_bar"></div>
								<div class="calendar-timeline_date">
									May 17th, 2023
								</div>
								<div class="calendar-timeline_info">
									<ul class="calendar-timeline_list list-reset">
										<li>Lorem ipsum dolore sit amet</li>
										<li>Lorem ipsum <br> dolore sit amet</li>
									</ul>
								</div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item _tick">
								<div class="calendar-timeline_bar"></div>
								<div class="calendar-timeline_label">Jun</div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item _tick">
								<div class="calendar-timeline_bar"></div>
								<div class="calendar-timeline_label">Jul</div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item _tick">
								<div class="calendar-timeline_bar"></div>
								<div class="calendar-timeline_label">Aug</div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item">
								<div class="calendar-timeline_bar"></div>
							</div>
							<div class="calendar-timeline_item _tick">
								<div class="calendar-timeline_bar"></div>
								<div class="calendar-timeline_label">Dec</div>
							</div>
						</div>
						<div class="calendar-timeline-overlay _right"></div>
					</div>
				</div>
			</section>
			<section class="section _pt-30 _py-70">
				<div class="container _width-830">
					<div class="box text-center">
						<div class="box_label">Narrative content</div>
						<h2>
							Lorem ipsum dolore sit amet
						</h2>
						<div class="box_text">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
								et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
								aeiusmod tempor incididunt
							</p>
						</div>
					</div>
				</div>
			</section>
			<section class="section _py-70">
				<div class="container">
					<div class="content-box">
						<div class="content-box_col">
							<div class="box">
								<div class="box_label text-jeans">large-scale description</div>
								<h2 class="mb-20">
									Lorem ipsum dolore sit amet
								</h2>
								<div class="box_text">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
										et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
										aeiusmod tempor incididunt
									</p>
								</div>
								<a class="arrow-link" href="#">
									<span>Learn more about Lorem ipsume dolore</span>
									<svg class="arrow-link_arrow">
										<use xlink:href="./img/icons/sprite.svg#arrow-right"></use>
									</svg>
								</a>
							</div>
						</div>
						<div class="content-box_col">
							<div class="content-box_images _grid-secondary">
								<img class="content-box_img" src="./img/img-1.jpg" alt="">
								<img class="content-box_img" src="./img/img-2.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="section _py-70">
				<div class="container">
					<div class="content-box _reverse">
						<div class="content-box_col">
							<div class="box">
								<div class="box_label text-jeans">large-scale description</div>
								<h2 class="mb-20">
									Lorem ipsum dolore sit amet
								</h2>
								<div class="box_text">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
										et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
										aeiusmod tempor incididunt
									</p>
								</div>
							</div>
						</div>
						<div class="content-box_col">
							<div class="content-box_images">
								<img class="content-box_img" src="./img/img-3.jpg" alt="">
								<img class="content-box_img" src="./img/img-4.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="section _py-70">
				<div class="container">
					<div class="content-box">
						<div class="content-box_col">
							<div class="box">
								<div class="box_label text-jeans">large-scale description</div>
								<h2 class="mb-20">
									Lorem ipsum dolore sit amet
								</h2>
								<div class="box_text">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
										et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
										aeiusmod tempor incididunt
									</p>
								</div>
							</div>
						</div>
						<div class="content-box_col">
							<div class="content-box_images _grid-secondary">
								<img class="content-box_img" src="./img/img-1.jpg" alt="">
								<img class="content-box_img" src="./img/img-2.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="section">
				<div class="section_head">
					<div class="container _width-830">
						<div class="box text-center">
							<div class="box_label">PHOTO Gallery</div>
							<h2>
								Lorem ipsum dolore sit amet
							</h2>
							<div class="box_text">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
									dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
									aeiusmod
									tempor incididunt
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="posts-grid">
						<article class="post">
							<a class="post_link" class="post_link" href="#">
								<img class="post_img" src="./img/img-1.jpg" alt="">
								<div class="post_text">
									<h2>Lorem ipsum dolore sit amet</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
								</div>
							</a>
						</article>
						<article class="post">
							<a class="post_link" class="post_link" href="#">
								<img class="post_img" src="./img/img-2.jpg" alt="">
								<div class="post_text">
									<h2>Lorem ipsum dolore sit amet</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
								</div>
							</a>
						</article>
						<article class="post">
							<a class="post_link" class="post_link" href="#">
								<img class="post_img" src="./img/img-6.jpg" alt="">
								<div class="post_text">
									<h2>Lorem ipsum dolore sit amet</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
								</div>
							</a>
						</article>
						<article class="post">
							<a class="post_link" class="post_link" href="#">
								<img class="post_img" src="./img/img-5.jpg" alt="">
								<div class="post_text">
									<h2>Lorem ipsum dolore sit amet</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
								</div>
							</a>
						</article>
						<article class="post">
							<a class="post_link" class="post_link" href="#">
								<img class="post_img" src="./img/img-4.jpg" alt="">
								<div class="post_text">
									<h2>Lorem ipsum dolore sit amet</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
								</div>
							</a>
						</article>
						<article class="post">
							<a class="post_link" class="post_link" href="#">
								<img class="post_img" src="./img/img-7.jpg" alt="">
								<div class="post_text">
									<h2>Lorem ipsum dolore sit amet</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
								</div>
							</a>
						</article>
					</div>
				</div>
			</section>
			<section class="section bg-mercury">
				<div class="section_head">
					<div class="container _width-830">
						<div class="box text-center">
							<div class="box_label">Document Archives</div>
							<h2>
								Lorem ipsum dolore sit amet
							</h2>
							<div class="box_text">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
									dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
									aeiusmod
									tempor incididunt
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="text-cards-grid">
						<a class="text-card" href="#">
							<div class="text-card_box">
								<h2>Lorem ipsum dolore sit amet</h2>
								<span class="icon-arrow-box _dark">
									<svg>
										<use xlink:href="./img/icons/sprite.svg#arrow-right-long"></use>
									</svg>
								</span>
							</div>
							<div class="text-card_text">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut l
								</p>
							</div>
						</a>
						<a class="text-card" href="#">
							<div class="text-card_box">
								<h2>Lorem ipsum dolore sit amet</h2>
								<span class="icon-arrow-box _dark">
									<svg>
										<use xlink:href="./img/icons/sprite.svg#arrow-right-long"></use>
									</svg>
								</span>
							</div>
							<div class="text-card_text">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut l
								</p>
							</div>
						</a>
						<a class="text-card" href="#">
							<div class="text-card_box">
								<h2>Lorem ipsum dolore sit amet</h2>
								<span class="icon-arrow-box _dark">
									<svg>
										<use xlink:href="./img/icons/sprite.svg#arrow-right-long"></use>
									</svg>
								</span>
							</div>
							<div class="text-card_text">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut l
								</p>
							</div>
						</a>
						<a class="text-card" href="#">
							<div class="text-card_box">
								<h2>Lorem ipsum dolore sit amet</h2>
								<span class="icon-arrow-box _dark">
									<svg>
										<use xlink:href="./img/icons/sprite.svg#arrow-right-long"></use>
									</svg>
								</span>
							</div>
							<div class="text-card_text">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut l
								</p>
							</div>
						</a>
						<a class="text-card" href="#">
							<div class="text-card_box">
								<h2>Lorem ipsum dolore sit amet</h2>
								<span class="icon-arrow-box _dark">
									<svg>
										<use xlink:href="./img/icons/sprite.svg#arrow-right-long"></use>
									</svg>
								</span>
							</div>
							<div class="text-card_text">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut l
								</p>
							</div>
						</a>
						<a class="text-card" href="#">
							<div class="text-card_box">
								<h2>Lorem ipsum dolore sit amet</h2>
								<span class="icon-arrow-box _dark">
									<svg>
										<use xlink:href="./img/icons/sprite.svg#arrow-right-long"></use>
									</svg>
								</span>
							</div>
							<div class="text-card_text">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut l
								</p>
							</div>
						</a>
					</div>
				</div>
			</section>
		</main>
		{% include 'src/template/footer.html' %}
	</div>
	{% include 'src/template/includes.html' %}
</body>

</html>