---
title: Narrative essays Page
---
{% include 'src/template/head.html' %}

<body>
	<div class="wrapper">
		{% include 'src/template/header.html' %}
		<main class="main">
			<section class="hero">
				<div class="hero_content" data-aos="fade-up">
					<div class="container">
						<div class="box text-center">
							<div class="box_label">narrative essays</div>
							<h1 class="h2">Flint Water Narrative essays</h1>
							<div class="box_text">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="hero_bg">
					<img class="hero_img" src="./img/section-bg.png" alt="">
					<img class="hero_texture" src="./img/texture.png" alt="">
				</div>
			</section>
			<section class="section">
				<div class="container _width-830">
					<div class="box text-center" data-aos="fade-up">
						<div class="box_label">Narrative content</div>
						<h2>
							Lorem ipsum dolore sit amet
						</h2>
						<div class="box_text">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
								et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
								aeiusmod tempor incididunt
							</p>
						</div>
					</div>
				</div>
			</section>
			<section class="section _py-70">
				<div class="container">
					<div class="content-box">
						<div class="content-box_col">
							<div class="box">
								<div class="box_label text-jeans">large-scale description</div>
								<h2 class="mb-20">
									Lorem ipsum dolore sit amet
								</h2>
								<div class="box_text">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
										et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
										aeiusmod tempor incididunt
									</p>
								</div>
							</div>
						</div>
						<div class="content-box_col">
							<div class="content-box_images _grid-secondary">
								<img class="content-box_img" src="./img/img-1.jpg" alt="">
								<img class="content-box_img" src="./img/img-2.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="section _py-70">
				<div class="container">
					<div class="content-box _reverse">
						<div class="content-box_col">
							<div class="box">
								<div class="box_label text-jeans">large-scale description</div>
								<h2 class="mb-20">
									Lorem ipsum dolore sit amet
								</h2>
								<div class="box_text">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
										et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
										aeiusmod tempor incididunt
									</p>
								</div>
							</div>
						</div>
						<div class="content-box_col">
							<div class="content-box_images">
								<img class="content-box_img" src="./img/img-3.jpg" alt="">
								<img class="content-box_img" src="./img/img-4.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="section">
				<div class="section_image">
					<div class="container">
						<div class="image">
							<img src="./img/img-8.jpg" alt="">
						</div>
					</div>
				</div>
				<div class="container _width-830">
					<div class="box_content">
						<h2 class="mb-35 text-center">
							About Us
						</h2>
						<div class="box_text">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
								et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
								aeiusmod tempor incididunt Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
								exercitation ullamco laboris nisi ut aeiusmod tempor incididunt Lorem ipsum dolor sit amet,
								consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
								enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aeiusmod tempor incididunt
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
								et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
								aeiusmod tempor incididunt
							</p>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
								et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
								aeiusmod tempor incididunt Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
								exercitation ullamco laboris nisi ut aeiusmod tempor incididunt
							</p>
						</div>
					</div>
				</div>
			</section>
			<section class="section _pt-40">
				<div class="section_head">
					<div class="container _width-830">
						<div class="box text-center">
							<div class="box_label">Process Documentation</div>
							<h2>
								About the Process Documentation
							</h2>
							<div class="box_text">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
									labore
									et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
									aeiusmod tempor incididunt
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="section_grid">
						<div>
							<div class="box">
								<div class="box_text">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
										et
										dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
										aeiusmod
										tempor incididunt Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
										ullamco
										laboris nisi ut aeiusmod tempor incididunt Lorem ipsum dolor sit amet, consectetur adipiscing elit,
										sed
										do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
										exercitation ullamco laboris nisi ut aeiusmod tempor incididunt Lorem ipsum dolor sit amet,
										consectetur
										adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
										veniam, quis nostrud exercitation ullamco laboris nisi ut aeiusmod tempor incididunt
									</p>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
										et
										dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
										aeiusmod
										tempor incididunt Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
										incididunt ut labore e
									</p>
								</div>
							</div>
						</div>
						<div>
							<div class="section_img-holder">
								<img src="./img/img-placeholder.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="section bg-athens-gray">
				<div class="section_head">
					<div class="container _width-830">
						<div class="box text-center">
							<div class="box_label">additional resources</div>
							<h2>
								Lorem ipsum dolore sit amet
							</h2>
							<div class="box_text">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
									dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
									aeiusmod
									tempor incididunt
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="articles-grid">
						<div>
							<article class="article">
								<div class="article_img">
									<img src="./img/img-placeholder.png" alt="">
								</div>
								<div class="article_inner">
									<div class="article_body">
										<div class="article_tags">
											<a class="article_tag" href="#">brief</a>
										</div>
										<h2 class="article_title">
											<a href="#">Lorem Ipsume Dolore Sit amet mon tague mon dori amet Dolore</a>
										</h2>
									</div>
									<div class="article_footer">
										<div class="article_box">
											<svg class="article_icon">
												<use xlink:href="./img/icons/sprite.svg#user"></use>
											</svg>
											<span class="article_caption">Maximilian Gona</span>
										</div>
										<div class="article_box">
											<svg class="article_icon">
												<use xlink:href="./img/icons/sprite.svg#clock"></use>
											</svg>
											<span class="article_caption">5 mins</span>
										</div>
									</div>
							</article>
						</div>
						<div>
							<article class="article">
								<div class="article_img">
									<img src="./img/img-placeholder.png" alt="">
								</div>
								<div class="article_inner">
									<div class="article_body">
										<div class="article_tags">
											<a class="article_tag" href="#">brief</a>
										</div>
										<h2 class="article_title">
											<a href="#">Lorem Ipsume Dolore Sit amet mon tague mon dori amet Dolore</a>
										</h2>
									</div>
									<div class="article_footer">
										<div class="article_box">
											<svg class="article_icon">
												<use xlink:href="./img/icons/sprite.svg#user"></use>
											</svg>
											<span class="article_caption">Maximilian Gona</span>
										</div>
										<div class="article_box">
											<svg class="article_icon">
												<use xlink:href="./img/icons/sprite.svg#clock"></use>
											</svg>
											<span class="article_caption">5 mins</span>
										</div>
									</div>
								</div>
							</article>
						</div>
						<div>
							<article class="article">
								<div class="article_img">
									<img src="./img/img-placeholder.png" alt="">
								</div>
								<div class="article_inner">
									<div class="article_body">
										<div class="article_tags">
											<a class="article_tag" href="#">brief</a>
										</div>
										<h2 class="article_title">
											<a href="#">Lorem Ipsume Dolore Sit amet mon tague mon dori amet Dolore</a>
										</h2>
									</div>
									<div class="article_footer">
										<div class="article_box">
											<svg class="article_icon">
												<use xlink:href="./img/icons/sprite.svg#user"></use>
											</svg>
											<span class="article_caption">Maximilian Gona</span>
										</div>
										<div class="article_box">
											<svg class="article_icon">
												<use xlink:href="./img/icons/sprite.svg#clock"></use>
											</svg>
											<span class="article_caption">5 mins</span>
										</div>
									</div>
								</div>
							</article>
						</div>
					</div>
				</div>
			</section>
		</main>
		{% include 'src/template/footer.html' %}
	</div>
	{% include 'src/template/includes.html' %}
</body>

</html>