---
title: Don't forget to change tittle - for this page
---
{% include 'src/template/head.html' %}

<body>
	<div class="wrapper _pt-100">
		{% include 'src/template/header.html' %}

		<main class="main">
			<section class="section">
				<div class="container entry">
					<aside id="sidebar">
						<div id="recent-posts-2" class="widget widget_recent_entries">
							<div class="widget_inner">
								<h3 class="widgettitle">Recent Posts</h3>
								<ul>
									<li>
										<a href="https://basethemestage.wpengine.com/lorem-ipsum-dolor-sit-met-5/">Lorem ipsum dolor sit met
											&#8211; With Sidebar</a>
									</li>
									<li>
										<a
											href="https://basethemestage.wpengine.com/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-integer-porttitor-imperdiet-dui-nam-metus-libero-iaculis-et-iaculis-sed-suscipit-vitae-urna-phasellus-in-tincidunt-felis-3/">Lorem
											ipsum dolor sit amet, consectetur adipiscing elit. Integer porttitor imperdiet dui. Nam metus
											libero, iaculis et iaculis sed, suscipit vitae urna. Phasellus in tincidunt felis.</a>
									</li>
									<li>
										<a
											href="https://basethemestage.wpengine.com/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-4/">Lorem
											ipsum dolor sit amet, consectetur adipiscing elit.</a>
									</li>
									<li>
										<a href="https://basethemestage.wpengine.com/lorem-ipsum-dolor-sit-met-4/">Lorem ipsum dolor sit met
											&#8211; No Sidebar</a>
									</li>
									<li>
										<a
											href="https://basethemestage.wpengine.com/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-5/">Lorem
											ipsum dolor sit amet, consectetur adipiscing elit.</a>
									</li>
								</ul>
							</div>
						</div>
						<div id="archives-2" class="widget widget_archive">
							<div class="widget_inner">
								<h3 class="widgettitle">Archives</h3>
								<ul>
									<li><a href='https://basethemestage.wpengine.com/2016/08/'>August 2016</a></li>
									<li><a href='https://basethemestage.wpengine.com/2016/07/'>July 2016</a></li>
									<li><a href='https://basethemestage.wpengine.com/2016/06/'>June 2016</a></li>
									<li><a href='https://basethemestage.wpengine.com/2016/04/'>April 2016</a></li>
									<li><a href='https://basethemestage.wpengine.com/2016/02/'>February 2016</a></li>
									<li><a href='https://basethemestage.wpengine.com/2016/01/'>January 2016</a></li>
								</ul>
							</div>
						</div>
						<div id="categories-2" class="widget widget_categories">
							<div class="widget_inner">
								<h3 class="widgettitle">Categories</h3>
								<ul>
									<li class="cat-item cat-item-1">
										<ahref="https: //basethemestage.wpengine.com/uncategorized/">Uncategorized</a>
									</li>
								</ul>
							</div>
						</div>
						<div id="archives-3" class="widget widget_archive">
							<div class="widget_inner">
								<h3 class="widgettitle">
									Archives
								</h3>
								<ul>
									<li><a href='https://basethemestage.wpengine.com/2016/08/'>August 2016</a></li>
									<li><a href='https://basethemestage.wpengine.com/2016/07/'>July 2016</a></li>
									<li><a href='https://basethemestage.wpengine.com/2016/06/'>June 2016</a></li>
									<li><a href='https://basethemestage.wpengine.com/2016/04/'>April 2016</a></li>
									<li><a href='https://basethemestage.wpengine.com/2016/02/'>February 2016</a></li>
									<li><a href='https://basethemestage.wpengine.com/2016/01/'>January 2016</a></li>
								</ul>
							</div>
						</div>
					</aside>
					<div id="content">
						<div class="breadcrumb">
							<div class="breadcrumb-trail"> <a href="https://basethemestage.wpengine.com/" title="Base Theme" rel="home"
									class="trail-begin">Home</a> <span class="sep">/</span> Blog</div>
						</div>
						<div class="title">
							<h1>Blog</h1>
						</div>
						<div class="entry">
							<div class="row-post">
								<article
									class="post post-48 type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">
									<div class="post-img">
										<a href="https://basethemestage.wpengine.com/lorem-ipsum-dolor-sit-met-5/">
											<img width="768" height="514" alt="Lorem ipsum dolor sit met &#8211; With Sidebar"
												data-src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
												class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
											<noscript>
												<img
													src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
													width="768" height="514" alt="Lorem ipsum dolor sit met &#8211; With Sidebar">
											</noscript>
										</a>
									</div>
									<div class="post-content">
										<header class="entry-header">
											<div class="entry-category">
												<span>In <a href="https://basethemestage.wpengine.com/uncategorized/"
														rel="category tag">Uncategorized</a></span>
											</div>
											<div class="entry-title">
												<h3>
													<a href="https://basethemestage.wpengine.com/lorem-ipsum-dolor-sit-met-5/">Lorem
														ipsum dolor sit met &#8211; With Sidebar</a>
												</h3>
											</div>
											<div class="meta">
												<span>by <a href="https://basethemestage.wpengine.com/author/reliableadmin/"
														title="Posts by Admin Admin" rel="author">Admin Admin</a> on August 29,
													2016</span>
											</div>
										</header>
										<div class="entry-content">
											<p>Header one Header two Header three Header four Header five Header six Lorem ipsum
												dolor sit amet, consectetur adipisicing elit. Sapiente, minus, provident, possimus,
												aperiam ipsum fugit eos natus est ducimus quasi in libero repudiandae et mollitia
												perspiciatis adipisci ex. Perferendis, odit! Lorem ipsum dolor sit amet, consectetur
												adipisicing elit. Sapiente, minus, provident, possimus, aperiam&#8230;</p>
										</div>
									</div>
								</article>
								<article
									class="post post-47 type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">
									<div class="post-img">
										<a
											href="https://basethemestage.wpengine.com/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-integer-porttitor-imperdiet-dui-nam-metus-libero-iaculis-et-iaculis-sed-suscipit-vitae-urna-phasellus-in-tincidunt-felis-3/">
											<img width="768" height="514"
												alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer porttitor imperdiet dui. Nam metus libero, iaculis et iaculis sed, suscipit vitae urna. Phasellus in tincidunt felis."
												data-src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
												class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
											<noscript>
												<img
													src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
													width="768" height="514"
													alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer porttitor imperdiet dui. Nam metus libero, iaculis et iaculis sed, suscipit vitae urna. Phasellus in tincidunt felis.">
											</noscript>
										</a>
									</div>
									<div class="post-content">
										<header class="entry-header">
											<div class="entry-category">
												<span>In <a href="https://basethemestage.wpengine.com/uncategorized/"
														rel="category tag">Uncategorized</a></span>
											</div>
											<div class="entry-title">
												<h3>
													<a
														href="https://basethemestage.wpengine.com/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-integer-porttitor-imperdiet-dui-nam-metus-libero-iaculis-et-iaculis-sed-suscipit-vitae-urna-phasellus-in-tincidunt-felis-3/">Lorem
														ipsum dolor sit amet, consectetur adipiscing elit. Integer porttitor
														imperdiet dui. Nam metus libero, iaculis et iaculis sed, suscipit vitae
														urna. Phasellus in tincidunt felis.</a>
												</h3>
											</div>
											<div class="meta">
												<span>by <a href="https://basethemestage.wpengine.com/author/reliableadmin/"
														title="Posts by Admin Admin" rel="author">Admin Admin</a> on August 29,
													2016</span>
											</div>
										</header>
										<div class="entry-content">
											<p>Header one Header two Header three Header four Header five Header six Lorem ipsum
												dolor sit amet, consectetur adipisicing elit. Sapiente, minus, provident, possimus,
												aperiam ipsum fugit eos natus est ducimus quasi in libero repudiandae et mollitia
												perspiciatis adipisci ex. Perferendis, odit! Lorem ipsum dolor sit amet, consectetur
												adipisicing elit. Sapiente, minus, provident, possimus, aperiam&#8230;</p>
										</div>
									</div>
								</article>
								<article
									class="post post-46 type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">
									<div class="post-img">
										<a
											href="https://basethemestage.wpengine.com/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-4/">
											<img width="768" height="514" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
												data-src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
												class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
											<noscript>
												<img width="768" height="514" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
													data-src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
													class="lazyload"
													src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
												<noscript>
													<img width="768" height="514" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
														data-src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
														class="lazyload"
														src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
													<noscript>
														<img width="768" height="514" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
															data-src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
															class="lazyload"
															src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
														<noscript>
															<img
																src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
																width="768" height="514" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
														</noscript>
													</noscript>
												</noscript>
											</noscript>
										</a>
									</div>
									<div class="post-content">
										<header class="entry-header">
											<div class="entry-category">
												<span>In <a href="https://basethemestage.wpengine.com/uncategorized/"
														rel="category tag">Uncategorized</a></span>
											</div>
											<div class="entry-title">
												<h3>
													<a
														href="https://basethemestage.wpengine.com/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-4/">Lorem
														ipsum dolor sit amet, consectetur adipiscing elit.</a>
												</h3>
											</div>
											<div class="meta">
												<span>by <a href="https://basethemestage.wpengine.com/author/reliableadmin/"
														title="Posts by Admin Admin" rel="author">Admin Admin</a> on August 29,
													2016</span>
											</div>
										</header>
										<div class="entry-content">
											<p>Header one Header two Header three Header four Header five Header six Lorem ipsum
												dolor sit amet, consectetur adipisicing elit. Sapiente, minus, provident, possimus,
												aperiam ipsum fugit eos natus est ducimus quasi in libero repudiandae et mollitia
												perspiciatis adipisci ex. Perferendis, odit! Lorem ipsum dolor sit amet, consectetur
												adipisicing elit. Sapiente, minus, provident, possimus, aperiam&#8230;</p>
										</div>
									</div>
								</article>
								<article
									class="post post-45 type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">
									<div class="post-img">
										<a href="https://basethemestage.wpengine.com/lorem-ipsum-dolor-sit-met-4/">
											<img width="768" height="514" alt="Lorem ipsum dolor sit met &#8211; No Sidebar"
												data-src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
												class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
											<noscript>
												<img
													src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
													width="768" height="514" alt="Lorem ipsum dolor sit met &#8211; No Sidebar">
											</noscript>
										</a>
									</div>
									<div class="post-content">
										<header class="entry-header">
											<div class="entry-category">
												<span>In <a href="https://basethemestage.wpengine.com/uncategorized/"
														rel="category tag">Uncategorized</a></span>
											</div>
											<div class="entry-title">
												<h3>
													<a href="https://basethemestage.wpengine.com/lorem-ipsum-dolor-sit-met-4/">Lorem
														ipsum dolor sit met &#8211; No Sidebar</a>
												</h3>
											</div>
											<div class="meta">
												<span>by <a href="https://basethemestage.wpengine.com/author/reliableadmin/"
														title="Posts by Admin Admin" rel="author">Admin Admin</a> on August 29,
													2016</span>
											</div>
										</header>
										<div class="entry-content">
											<p>Header one Header two Header three Header four Header five Header six Lorem ipsum
												dolor sit amet, consectetur adipisicing elit. Sapiente, minus, provident, possimus,
												aperiam ipsum fugit eos natus est ducimus quasi in libero repudiandae et mollitia
												perspiciatis adipisci ex. Perferendis, odit! Lorem ipsum dolor sit amet, consectetur
												adipisicing elit. Sapiente, minus, provident, possimus, aperiam&#8230;</p>
										</div>
									</div>
								</article>
								<article
									class="post post-44 type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">
									<div class="post-img">
										<a
											href="https://basethemestage.wpengine.com/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-5/">
											<img width="768" height="514" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
												data-src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
												class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
											<noscript>
												<img width="768" height="514" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
													data-src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
													class="lazyload"
													src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
												<noscript>
													<img width="768" height="514" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
														data-src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
														class="lazyload"
														src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
													<noscript>
														<img width="768" height="514" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
															data-src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
															class="lazyload"
															src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
														<noscript>
															<img
																src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
																width="768" height="514" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
														</noscript>
													</noscript>
												</noscript>
											</noscript>
										</a>
									</div>
									<div class="post-content">
										<header class="entry-header">
											<div class="entry-category">
												<span>In <a href="https://basethemestage.wpengine.com/uncategorized/"
														rel="category tag">Uncategorized</a></span>
											</div>
											<div class="entry-title">
												<h3>
													<a
														href="https://basethemestage.wpengine.com/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-5/">Lorem
														ipsum dolor sit amet, consectetur adipiscing elit.</a>
												</h3>
											</div>
											<div class="meta">
												<span>by <a href="https://basethemestage.wpengine.com/author/reliableadmin/"
														title="Posts by Admin Admin" rel="author">Admin Admin</a> on August 29,
													2016</span>
											</div>
										</header>
										<div class="entry-content">
											<p>Header one Header two Header three Header four Header five Header six Lorem ipsum
												dolor sit amet, consectetur adipisicing elit. Sapiente, minus, provident, possimus,
												aperiam ipsum fugit eos natus est ducimus quasi in libero repudiandae et mollitia
												perspiciatis adipisci ex. Perferendis, odit! Lorem ipsum dolor sit amet, consectetur
												adipisicing elit. Sapiente, minus, provident, possimus, aperiam&#8230;</p>
										</div>
									</div>
								</article>
								<article
									class="post post-42 type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">
									<div class="post-img">
										<a href="https://basethemestage.wpengine.com/lorem-ipsum-dolor-sit-met-6/">
											<img width="768" height="514" alt="Lorem ipsum dolor sit met."
												data-src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
												class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
											<noscript>
												<img width="768" height="514" alt="Lorem ipsum dolor sit met."
													data-src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
													class="lazyload"
													src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
												<noscript>
													<img width="768" height="514" alt="Lorem ipsum dolor sit met."
														data-src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
														class="lazyload"
														src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
													<noscript>
														<img
															src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
															width="768" height="514" alt="Lorem ipsum dolor sit met.">
													</noscript>
												</noscript>
											</noscript>
										</a>
									</div>
									<div class="post-content">
										<header class="entry-header">
											<div class="entry-category">
												<span>In <a href="https://basethemestage.wpengine.com/uncategorized/"
														rel="category tag">Uncategorized</a></span>
											</div>
											<div class="entry-title">
												<h3>
													<a href="https://basethemestage.wpengine.com/lorem-ipsum-dolor-sit-met-6/">Lorem
														ipsum dolor sit met.</a>
												</h3>
											</div>
											<div class="meta">
												<span>by <a href="https://basethemestage.wpengine.com/author/reliableadmin/"
														title="Posts by Admin Admin" rel="author">Admin Admin</a> on August 29,
													2016</span>
											</div>
										</header>
										<div class="entry-content">
											<p>Header one Header two Header three Header four Header five Header six Lorem ipsum
												dolor sit amet, consectetur adipisicing elit. Sapiente, minus, provident, possimus,
												aperiam ipsum fugit eos natus est ducimus quasi in libero repudiandae et mollitia
												perspiciatis adipisci ex. Perferendis, odit! Lorem ipsum dolor sit amet, consectetur
												adipisicing elit. Sapiente, minus, provident, possimus, aperiam&#8230;</p>
										</div>
									</div>
								</article>
								<article
									class="post post-23 type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">
									<div class="post-img">
										<a href="https://basethemestage.wpengine.com/lorem-ipsum-dolor-sit-met-3/">
											<img width="768" height="514" alt="Lorem ipsum dolor sit met."
												data-src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
												class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
											<noscript>
												<img width="768" height="514" alt="Lorem ipsum dolor sit met."
													data-src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
													class="lazyload"
													src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
												<noscript>
													<img width="768" height="514" alt="Lorem ipsum dolor sit met."
														data-src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
														class="lazyload"
														src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
													<noscript>
														<img
															src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
															width="768" height="514" alt="Lorem ipsum dolor sit met.">
													</noscript>
												</noscript>
											</noscript>
										</a>
									</div>
									<div class="post-content">
										<header class="entry-header">
											<div class="entry-category">
												<span>In <a href="https://basethemestage.wpengine.com/uncategorized/"
														rel="category tag">Uncategorized</a></span>
											</div>
											<div class="entry-title">
												<h3>
													<a href="https://basethemestage.wpengine.com/lorem-ipsum-dolor-sit-met-3/">Lorem
														ipsum dolor sit met.</a>
												</h3>
											</div>
											<div class="meta">
												<span>by <a href="https://basethemestage.wpengine.com/author/reliableadmin/"
														title="Posts by Admin Admin" rel="author">Admin Admin</a> on August 29,
													2016</span>
											</div>
										</header>
										<div class="entry-content">
											<p>Header one Header two Header three Header four Header five Header six Lorem ipsum
												dolor sit amet, consectetur adipisicing elit. Sapiente, minus, provident, possimus,
												aperiam ipsum fugit eos natus est ducimus quasi in libero repudiandae et mollitia
												perspiciatis adipisci ex. Perferendis, odit! Lorem ipsum dolor sit amet, consectetur
												adipisicing elit. Sapiente, minus, provident, possimus, aperiam&#8230;</p>
										</div>
									</div>
								</article>
								<article
									class="post post-28 type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">
									<div class="post-img">
										<a href="https://basethemestage.wpengine.com/lorem-ipsum-dolor-sit-met/">
											<img width="768" height="514" alt="Lorem ipsum dolor sit met."
												data-src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
												class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
											<noscript>
												<img width="768" height="514" alt="Lorem ipsum dolor sit met."
													data-src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
													class="lazyload"
													src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
												<noscript>
													<img width="768" height="514" alt="Lorem ipsum dolor sit met."
														data-src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
														class="lazyload"
														src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
													<noscript>
														<img
															src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
															width="768" height="514" alt="Lorem ipsum dolor sit met.">
													</noscript>
												</noscript>
											</noscript>
										</a>
									</div>
									<div class="post-content">
										<header class="entry-header">
											<div class="entry-category">
												<span>In <a href="https://basethemestage.wpengine.com/uncategorized/"
														rel="category tag">Uncategorized</a></span>
											</div>
											<div class="entry-title">
												<h3>
													<a href="https://basethemestage.wpengine.com/lorem-ipsum-dolor-sit-met/">Lorem
														ipsum dolor sit met.</a>
												</h3>
											</div>
											<div class="meta">
												<span>by <a href="https://basethemestage.wpengine.com/author/reliableadmin/"
														title="Posts by Admin Admin" rel="author">Admin Admin</a> on August 29,
													2016</span>
											</div>
										</header>
										<div class="entry-content">
											<p>Header one Header two Header three Header four Header five Header six Lorem ipsum
												dolor sit amet, consectetur adipisicing elit. Sapiente, minus, provident, possimus,
												aperiam ipsum fugit eos natus est ducimus quasi in libero repudiandae et mollitia
												perspiciatis adipisci ex. Perferendis, odit! Lorem ipsum dolor sit amet, consectetur
												adipisicing elit. Sapiente, minus, provident, possimus, aperiam&#8230;</p>
										</div>
									</div>
								</article>
								<article
									class="post post-27 type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">
									<div class="post-img">
										<a
											href="https://basethemestage.wpengine.com/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-2/">
											<img width="768" height="514" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
												data-src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
												class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
											<noscript>
												<img width="768" height="514" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
													data-src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
													class="lazyload"
													src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
												<noscript>
													<img width="768" height="514" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
														data-src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
														class="lazyload"
														src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
													<noscript>
														<img width="768" height="514" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
															data-src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
															class="lazyload"
															src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
														<noscript>
															<img
																src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
																width="768" height="514" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
														</noscript>
													</noscript>
												</noscript>
											</noscript>
										</a>
									</div>
									<div class="post-content">
										<header class="entry-header">
											<div class="entry-category">
												<span>In <a href="https://basethemestage.wpengine.com/uncategorized/"
														rel="category tag">Uncategorized</a></span>
											</div>
											<div class="entry-title">
												<h3>
													<a
														href="https://basethemestage.wpengine.com/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-2/">Lorem
														ipsum dolor sit amet, consectetur adipiscing elit.</a>
												</h3>
											</div>
											<div class="meta">
												<span>by <a href="https://basethemestage.wpengine.com/author/reliableadmin/"
														title="Posts by Admin Admin" rel="author">Admin Admin</a> on August 29,
													2016</span>
											</div>
										</header>
										<div class="entry-content">
											<p>Header one Header two Header three Header four Header five Header six Lorem ipsum
												dolor sit amet, consectetur adipisicing elit. Sapiente, minus, provident, possimus,
												aperiam ipsum fugit eos natus est ducimus quasi in libero repudiandae et mollitia
												perspiciatis adipisci ex. Perferendis, odit! Lorem ipsum dolor sit amet, consectetur
												adipisicing elit. Sapiente, minus, provident, possimus, aperiam&#8230;</p>
										</div>
									</div>
								</article>
								<article
									class="post post-26 type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">
									<div class="post-img">
										<a
											href="https://basethemestage.wpengine.com/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-3/">
											<img width="768" height="514" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
												data-src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
												class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
											<noscript>
												<img width="768" height="514" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
													data-src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
													class="lazyload"
													src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
												<noscript>
													<img width="768" height="514" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
														data-src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
														class="lazyload"
														src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
													<noscript>
														<img width="768" height="514" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
															data-src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
															class="lazyload"
															src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
														<noscript>
															<img
																src="https://basethemestage.wpengine.com/wp-content/uploads/2016/06/photo-1426200830301-372615e4ac54-1.jpeg"
																width="768" height="514" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
														</noscript>
													</noscript>
												</noscript>
											</noscript>
										</a>
									</div>
									<div class="post-content">
										<header class="entry-header">
											<div class="entry-category">
												<span>In <a href="https://basethemestage.wpengine.com/uncategorized/"
														rel="category tag">Uncategorized</a></span>
											</div>
											<div class="entry-title">
												<h3>
													<a
														href="https://basethemestage.wpengine.com/lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-3/">Lorem
														ipsum dolor sit amet, consectetur adipiscing elit.</a>
												</h3>
											</div>
											<div class="meta">
												<span>by <a href="https://basethemestage.wpengine.com/author/reliableadmin/"
														title="Posts by Admin Admin" rel="author">Admin Admin</a> on August 29,
													2016</span>
											</div>
										</header>
										<div class="entry-content">
											<p>Header one Header two Header three Header four Header five Header six Lorem ipsum
												dolor sit amet, consectetur adipisicing elit. Sapiente, minus, provident, possimus,
												aperiam ipsum fugit eos natus est ducimus quasi in libero repudiandae et mollitia
												perspiciatis adipisci ex. Perferendis, odit! Lorem ipsum dolor sit amet, consectetur
												adipisicing elit. Sapiente, minus, provident, possimus, aperiam&#8230;</p>
										</div>
									</div>
								</article>
							</div>
							<nav class="pagination">
								<span class="pagination_label">
									Pages
								</span>
								<ul class="pagination_list list-reset">
									<li class="pagination_item">
										<a class="pagination_link" href="#">Prev</a>
									</li>
									<li class="pagination_item">
										<a class="pagination_link _active" href="#">1</a>
									</li>
									<li class="pagination_item">
										<a class="pagination_link" href="#">2</a>
									</li>
									<li class="pagination_item">
										<a class="pagination_link" href="#">3</a>
									</li>
									<li class="pagination_item">
										<a class="pagination_link" href="#">4</a>
									</li>
									<li class="pagination_item">
										<a class="pagination_link" href="#">5</a>
									</li>
									<li class="pagination_item">
										<a class="pagination_link" href="#">6</a>
									</li>
									<li class="pagination_item">
										<a class="pagination_link" href="#">Next</a>
									</li>
								</ul>
							</nav>
							<!-- /pagination -->
						</div>
					</div>
				</div>
			</section>
		</main>

		{% include 'src/template/footer.html' %}
	</div>

	{% include 'src/template/includes.html' %}

	<script type='text/javascript'
		src='https://basethemestage.wpengine.com/wp-content/plugins/wp-smush-pro/app/assets/js/smush-lazy-load.min.js?ver=3.15.0'
		id='smush-lazy-load-js'></script>
</body>

</html>